@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Custom Fonts ==== */
body {
    font-family: 'Work Sans', sans-serif;
}

@font-face {
    font-family: 'Britanica-HeavySemiExpanded';
    src: url(../fonts/britanica-heavy-semi-expanded/britanica-heavy-semi-expanded.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-britanica {
    font-family: 'Britanica-HeavySemiExpanded', sans-serif;
}

.app-bg {
    background: linear-gradient(180deg, #101010 7.54%, #000 43.4%);
}